# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env